@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <div class="nav-item active">
        <a href="#">
            <img style="border: 10px solid #ddd;
    border-radius: 7px;
    width: 100%; opacity: 0.5;
"
                 class="card-img-top" src="/NGOAssets/images/header.jpg" alt="Image placeholder">
        </a></li>
    </div>
</div>
